.title {
  font-size: 53px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title > h3 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
span {
  color: burlywood;
}
.button {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.button a {
  flex-direction: column;
  text-decoration: none;
  border: 2px solid #020277;
  border-radius: 200px;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.button a:hover {
  background: #018839;
  transition: 1.2s ease;
  color: black;
  border: 2px solid #fff;
}
.small-tagline {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.small-tagline p {
  color: #fff;
  top: 50%;

  margin-bottom: 30px;
}

  .description {
  color: rgb(168, 96, 2); 
  font-size: 21px;
  justify-content: center;
  flex-direction: column;
  text-align: center;


 }